* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --suferce-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: rgba(255, 255, 255, 0.562);
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --font-default: normal 16px/150% var(--font-family);
    --font-lg: bold 32px/125% var(--font-family);
    --font-md: normal 14px/170% var(--font-family);
    --font-sm: normal 12px/170% var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    font: var(--font-default);
}

.container {
    padding-inline: 32px;
    margin-inline: auto;
    max-width: 1280px;
}

.bg-surface-color {
    background-color: var(--suferce-color);
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}
