header {
    margin-block: 24px;
    padding-bottom: 32px;
    font: var(--font-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px;
}

#profile img {
    border-radius: 50%;
}

#profile > div {
    width: 384px;
}

#profile h1 {
    color: var(--text-color-primary);
    font: var(--font-lg);
    margin-bottom: 8px;
}

#info {
    list-style: none;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

